<form action="/users" method="POST">
	<input type="text" name="name" placeholder="name"/>
	<input type="text" name="email" placeholder="email"/>
	<input type="text" name="address" placeholder="address"/>
	<button type="submit">Send</button>
</form>
