<h1>{{title}}</h1>
<p>Bem vindo ao {{title}}</p>

<a href="/form">Regitrar usuarios</a><br/>
<a href="/users" target="popup">Ver usuarios</a><br/>
<b>Foi implementado o delete em http://localhost:3000/users</b> mas também foi implementado via post<br/>

<a href="/form/delete">Deletar Usuarios</a><br/>

